# Ignore files named 
translator.py

# Ignore all files in the directory
Raw/*

# Ignore all files with a .log extension
*.log

# Ignore a directory named "secret" and all its contents
secret/
